<?xml version='1.0' encoding='utf-8'?>
<widget id="com.tarossolution.cotienxanh" version="0.0.1">
    <name>Cô Tiên Xanh</name>
    <description>
      Vui học cùng Cô Tiên Xanh
    </description>
    <author email="adamnguyen.itdn@gmail.com" href="https://facebook.com/thanh.taro">
      Nguyen Tri Thanh
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="Fullscreen" value="true" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackgroundColor" value="0x000000" />
    <preference name="HideKeyboardFormAccessoryBar" value="true" />
    <preference name="Orientation" value="landscape" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <plugin name="cordova-plugin-insomnia" spec="~4.3.0" />
    <plugin name="cordova-plugin-whitelist" spec="~1.3.3" />
    <plugin name="cordova-plugin-screen-orientation" spec="~3.0.1" />
    <plugin name="cordova-plugin-statusbar" spec="^2.4.2" />
    <engine name="android" spec="^7.1.1" />
</widget>
